html {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
html::-webkit-scrollbar{width:0px}
#select_template_group{
    position: fixed;
    float: left;
    display: none;
}
.selected_keywords{
    display: none;
    position: fixed;
    width: 590px;
    max-height: 300px;
    margin-top: 35px;
    z-index: 10002;
}
.selected_keywords > ul{
    max-height: 300px;
    min-width: 590px;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-group-item:hover{
    color: #2E2D3C;
    background: #00AAFF;
}
#basic-addon1 > img{
    width: 80%;
    height: 80%;
}